@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    /*font-family: 'Raleway', sans-serif;*/
}
body{
    font-family: 'Sora', sans-serif;
    font-weight: 400;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
background: rgba(0,123,255,0.3);
}
.btn-link{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        outline: unset;
        box-shadow: unset;
        text-decoration: none;
    }
}
.custom-navigation{
    background: transparent;
    .navbar-brand{
        img{
            width: 185px;
        }
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                a{
                    font-size: 14px;
                    color: #ffffff;
                    padding: 0.5rem 1.5rem;
                }
            }
        }
    }
}

.banner-wrapper{
    float: left;
    width: 100%;
    height: 100vh;
    // height: calc(100vh - 50px);
    background: #000;
    background-size: cover;
    .contentover-wrapper{
        position: relative;
        float: left;
        width: 100%;
        .contentover{
            position: absolute;
            z-index: 9;
            float: left;
            width:100%;
            height: 100vh;
            display: flex;  
            align-items: center;
            justify-content: center;
            .banner-info{
                float: left;
                width: 515px;
                flex-direction: column
                p{
                    color: #FFFFFF;
                    width: 100%;
                    font-size: 30px;
                    line-height: 46px;
                    font-weight: 400;
                    font-family: 'Raleway', sans-serif;
                }
                .bannerbtn-mask{
                    float: left;
                    width: 100%;
                    .commfillbtn{
                        min-width: 166px;
                        height: 50px;
                        margin-right: 15px;
                        font-size: 14px;
                        color: #1C1E23;
                        background:#ffffff;
                    }
                    .commborbtn{
                        min-width: 85px;
                        height: 50px;
                        font-size: 14px;
                        color: #ffffff;
                        &:hover{
                            background:#ffffff;
                            color: #1C1E23;
                        }
                    }
                }
            }
         
        }
        .bannerbottom{
            float: left;
            width: 100%;
           
            .bottom-statics{
                float: left;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .counter-value{
                    float: left;
                    width: auto;
                    text-align: center;
                    h2{
                        font-size: 30px;
                        line-height: 40px;
                        font-weight: 500;
                        color: #ffffff;
                    }
                    p{
                        font-size: 16px;
                        color: #ffffff;
                    }
                }
            }
        }
        .bannercontent-wrapper{
            float: left;
            width: 100%;
            height: 100vh;
            position: absolute;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            z-index: 9;
            flex-direction: column;
            .bannertoptext{
                color: #FFFFFF;
                width: 515px;
                font-size: 30px;
                line-height: 46px;
                font-weight: 400;
                font-family: 'Raleway', sans-serif;
            }
            .bannerbtn-mask{
                margin:3rem 0;
                .commfillbtn{
                    min-width: 166px;
                    height: 50px;
                    margin-right: 15px;
                    font-size: 14px;
                    color: #1C1E23;
                    background:#ffffff;
                }
                .commborbtn{
                    min-width: 85px;
                    height: 50px;
                    font-size: 14px;
                    color: #ffffff;
                    &:hover{
                        background:#ffffff;
                        color: #1C1E23;
                    }
                }
            }
            .bannerbottom{
                position: absolute;
                bottom: 0;
                .bottom-statics{
                    .counter-value{
                        float: left;
                        width: auto;
                        height: 100px;
                        text-align: center;
                        h2{
                            font-size: 30px;
                            line-height: 40px;
                            font-weight: 500;
                            color: #ffffff;
                        }
                        p{
                            font-size: 16px;
                            color: #ffffff;
                        }
                        &::after{
                            content: '';
                            height: 75px;
                            width: 2px;
                            background: #ffffff;
                            float: right;
                            position: relative;
                            top: -96px;
                            right: -60px;
                        }
                        &:last-child{
                            &::after{
                                content: '';
                                height: 75px;
                                width: 2px;
                                background:transparent;
                                float: right;
                                position: relative;
                                top: -96px;
                                right: -60px;
                            }
                        }
                    }
                }
                
            }
        }
    }
    
}
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    video  {
        /* Make video to at least 100% wide and tall */
        min-width: 100%; 
        min-height: 100%; 

        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;

        /* Center the video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
  }


  .name{
      font-size: 22px;
      color: #f00;
      position: absolute;
      z-index: -9;
  }

.spheriumforyou-wrapper{
    float: left;
    width: 100%;
    padding: 2rem 0;
    .card{
        border: 1px solid #EAEDF2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        padding: 3rem 1rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        .cardimageicon{
            float: left;
            width: 100%;    
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100px;
            }
        }
        .card-body{
            text-align: center;
            padding: 0px;
            h5{
                float: left;
                width: 100%;
                font-size: 19px;
                color: #000B89;
                line-height: 25px;
                font-weight: normal;
                padding: 0px 25px;
                margin: 2rem 0 1.5rem 0;
            }
            p{
                float: left;
                width: 100%;
                height: 65px;
                overflow: hidden;
                font-size: 14px;
                font-weight: 200;
                color: #2E3147;
            }
        }
    }
}

.commonpagetitle{
    float: left;
    width: 100%;
    text-align: center;
    h2{
        margin: 2rem 0;
        font-size: 30px;
        font-weight: normal;
        color: #181A2B;
        font-family: 'Raleway', sans-serif;
    }
    p{
        font-size: 18px;
        font-weight: 200;
        color: #2E3147;
        line-height: 30px;
    }
}

.bannersvg-wrapper{
    float: left;
    width: 100%;
}


.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 0px 12px 24px #0000000D;
  }


.navbar.fixed-top.custom-navigation .scroll-logo{
    display: none;
}
.navbar.fixed-top.custom-navigation .nonscroll-logo{
    display: block;
}

.navbar.fixed-top.custom-navigation.scrolled .nonscroll-logo{
    display: none;
}
.navbar.fixed-top.custom-navigation.scrolled .scroll-logo{
    display: block;
}



.navbar.fixed-top.custom-navigation.scrolled .navbar-nav .nav-link{
    color: #000B89;
}
.navbar.fixed-top.custom-navigation.scrolled .navbar-nav .active>.nav-link, 
.navbar.fixed-top.custom-navigation.scrolled .navbar-nav .nav-link.active, 
.navbar.fixed-top.custom-navigation.scrolled .navbar-nav .nav-link.show, 
.navbar.fixed-top.custom-navigation.scrolled .navbar-nav .show>.nav-link{
    color: #000B89;
}
.navbar.fixed-top.custom-navigation.scrolled .fordivision::after{
    background: #ccc;
}

.navbar.fixed-top.custom-navigation .navbar-nav .nav-item.dropdown a.dropdown-item{
    color: #292929;
}



.bannersvg-wrapper{
    float: left;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background: url('../img/banner-image.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    .bannerinfoleft{
        float: left;
        width: 100%;
        height: calc(100vh - 115px);
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 30px;
            font-weight: 400;
            color: #ffffff;
            line-height: 46px;
            font-family: 'Raleway', sans-serif;
        }
        .banneractonbtn{
            float: left;
            width: 100%;
            margin: 1.5rem 0;
            .commfillbtn{
                min-width: 166px;
                height: 50px;
                margin-right: 15px;
                font-size: 14px;
                color: #1C1E23;
                background:#ffffff;
            }
            .commborbtn{
                min-width: 85px;
                height: 50px;
                font-size: 14px;
                color: #ffffff;
                &:hover{
                    background:#ffffff;
                    color: #1C1E23;
                }
            }
        }
        
    }
    .bannerimgright{
        float: left;
        width: 100%;
        top: -440px;
        left: -195px;
        position: absolute;
    }
    .bannerbottom{
        float: left;
        width: 100%;
       
        .bottom-statics{
            float: left;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .counter-value{
                float: left;
                width: auto;
                text-align: center;
                h2{
                    font-size: 30px;
                    line-height: 40px;
                    font-weight: 500;
                    color: #ffffff;
                }
                p{
                    font-size: 16px;
                    color: #ffffff;
                }
                &::after{
                    content: '';
                    height: 75px;
                    width: 2px;
                    background: #ffffff;
                    float: right;
                    position: relative;
                    top: -96px;
                    right: -60px;
                }
                &:last-child{
                    &::after{
                        content: '';
                        height: 75px;
                        width: 2px;
                        background:transparent;
                        float: right;
                        position: relative;
                        top: -96px;
                        right: -60px;
                    }
                }
            }
            
        }
    }
}


// .footer-wrapper {
//     position: absolute;
//     bottom: 0;
// }

  .path {
   
    offset-path: path('M419.156 721.714L557.737 961.744C563.927 972.467 572.83 981.373 583.551 987.567C594.272 993.761 606.435 997.025 618.816 997.031L895.968 997.036C908.354 997.032 920.521 993.77 931.248 987.577C941.975 981.384 950.883 972.478 957.079 961.754L1095.66 721.728C1101.84 711.002 1105.09 698.838 1105.09 686.456C1105.08 674.075 1101.82 661.913 1095.63 651.191L957.049 411.163C950.858 400.439 941.956 391.533 931.234 385.339C920.513 379.145 908.351 375.881 895.969 375.875L618.817 375.87C606.431 375.874 594.264 379.136 583.537 385.329C572.811 391.522 563.902 400.428 557.706 411.153L419.13 651.179C412.946 661.905 409.693 674.069 409.697 686.45C409.702 698.831 412.964 710.993 419.156 721.714V721.714Z');
    animation: sweep 4s linear infinite;
  }

  
  @keyframes sweep {
    0% {
      motion-offset: 0;
      offset-distance: 0;
    }
  
    to {
      motion-offset: 100%;
      offset-distance: 100%;
    }
  }
  
//   @keyframes reverse {
//     0% {
//       motion-offset: 0;
//       offset-distance: 0;
//     }
  
//     to {
//       motion-offset: -100%;
//       offset-distance: -100%;
//     }
//   }
  
  
  

.oneplateform-wrapper{
    float: left;
    width: 100%;
    padding: 3rem 1rem;
    .accordion-wrapper{
        float: left;
        width: 100%;
        margin-top: 2rem;
        #accordionExample{
            .card{
                float: left;
                width: 100%;
                // border-radius: 16px;
                .card-body{
                    padding: 2rem;
                    .accordion-info-left{
                        float: left;
                        width: 62%;
                        h2{
                            font-size: 30px;
                            font-weight: 500;
                            color: #ffffff;
                            font-family: 'Raleway', sans-serif;
                        }
                        p{
                            font-size: 18px;
                            font-weight: 200;
                            color: #D8DBFF;
                            margin-top: 1.5rem;
                        }
                        ul{
                            float: left;
                            width: 100%;
                            padding: 0px;
                            margin: 0px;
                            list-style: none;
                            margin-top: 1rem;
                            li{
                                float: left;
                                width: 100%;
                                font-size: 18px;
                                font-weight: 500;
                                color: #87F2E7;
                            }
                        }
                    }
                    
                }
                .accordion-image-right{
                    float: left;
                    width: 100%;
                    text-align: center;
                }

                // #headingOne{
                    
                // }
            }
            .custom-accordion-one{
                background:#00064B;
                border: medium none;
                // &::after{
                //     content: '';
                //     float: left;
                //     width: 100%;
                //     height: 40px;
                //     background:lightcoral;
                // }
                border-radius: 16px 16px 16px 16px;
            }
            .custom-accordion-two{
                background:#1A25A7;
                border: medium none;
                border-radius: 16px 16px 16px 16px;
            }
            .custom-accordion-three{
                background:#3544E9;
                border: medium none;
                border-radius: 16px 16px 16px 16px;
            }
            .card-header{
                float: left;
                    width: 100%;
                border-radius: 0px 0px 16px 16px;
                // background:#f00;
                h2{
                    button{
                        font-size: 30px;
                        font-weight: 500;
                        color: #fff;
                    }
                }
               
            }
        }
    }
}

.backgroundcotwo{
    float: left;
    width: 100%;
    padding-top: 0.8rem;
    margin-top: -12px;
    background: #1A25A7;
    border-radius: 0px 0px 16px 16px;
}
.backgroundcothree{
    float: left;
    width: 100%;
    padding-top: 0.8rem;
    margin-top: -12px;
    background: #3544E9;
    border-radius: 0px 0px 16px 16px;
}


.supportedwall-wrapper{
    float: left;
    width: 100%;
    padding: 2rem 0;
    .tabcontainer{
        #pills-tab{
            justify-content: center;
            align-items: center;
            display: flex;
            .nav-link{
                font-size: 14px;
                font-weight: 500;
                border-bottom: 2px solid transparent;
                color: #181A2B;
                font-family: 'Raleway', sans-serif;
            }
            .nav-link.active{
                color: #1A25A7;
                border-bottom: 2px solid #1A25A7;
                background: transparent;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
            }
        }
        #pills-tabContent{
            margin-top: 4rem;
            .tabinnerinfo-mask{
                float: left;
                width: 100%;
                display:flex;
                align-items: center;
                justify-content: space-between;
                .supportiles{
                    width: 18%;
                    background: #ffffff;
                    border: 1px solid #EAEDF2;
                    height: 150px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                }
            }
        }
    }
}

.wordclassinvestor-wrapper{
    float: left;
    width: 100%;
    padding: 4rem 0;
    .wordinvestcell{
        float: left;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:#fff;
        padding: 0.5rem;
        margin: 1rem 0.5rem;
        border:1px solid transparent;
        transition: all 0.5s ease;
        &:hover{
            cursor: pointer;
            background: #E9E9E9;
            border:1px solid #E9E9E9;
            transition: all 0.5s ease;
        }
    }
}

.auditedverified-wrapper{
    float: left;
    width: 100%;
    background: url('../img/bluebackground.jpg');
    padding: 2rem 0 4rem 0; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    .commonpagetitle{
        h2{
            color: #ffffff;
        }
    }
    .auditedverified-cell{
        float: left;
        width: 100%;
        background:#041153;
        height: 182px;
        display:flex;
        margin: 1rem 0;
        align-items: center;
        justify-content: center;
        position: relative;
        background-position: top center;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            -webkit-transition: none;
            -moz-transition: none;
            transition: none;
          }
          &:hover:after{
            background:#ffffff;
            transition: all .3s ease;
            cursor: pointer;
            width: 120%;
            background-color: rgba(255, 255, 255, 0);
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
    }
}

.spheriuminews-wrapper{
    float: left;
    width: 100%;
    padding: 4rem 0;
    .carouselinews-mask{
        float: left;
        width: 100%;
        .innews-carousel{
            .owl-stage-outer{
                float: left;
                width: 100%;
                margin: 1rem 0 3rem 0;
                .item{
                    float: left;
                    width: 100%;
                    padding: 1.5rem;
                    background: #ffffff;
                    border: 1px solid #EAEDF2;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    .image-wrapper{
                        float: left;
                        width: 100%;
                        height: 75px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        img{
                            width: 130px;
                        }
                    }
                    p{
                        float: left;
                        width: 100%;
                        font-size: 16px;
                        font-weight: normal;
                        height: 90px;
                        overflow: hidden;
                        color: #181A2B;
                        margin: 1.5rem 0;
                    }
                    a{
                        float: left;
                        font-size: 14px;
                        font-weight: normal;
                        color: #000B89;
                        img{
                            float: right;
                            width: 15px;
                            margin: 4px 0 0 5px;
                        }
                    }
                }
            }
   
            .owl-dots .owl-dot span {
                width: 12px;
                height: 12px;
                margin: 5px 3px;
                background: #E7E9F3;
                display: block;
                -webkit-backface-visibility: visible;
                transition: opacity .2s ease;
                border-radius: 30px;
            }
            .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
                background: #3643DC;
            }
        }
    }
}

.footer-wrapper{
    float: left;
    width: 100%;
    background: #F5F6FB;
    padding: 3rem 0 0 0;
    .logofooterinfo{
        float: left;
        width: 100%;
        img{
            width: 160px; 
        }
        p{
            float: left;
            width: 100%;
            margin-top: 1.5rem;
            font-size: 14px;
            line-height: 23px;
            font-weight: 200;
            color: #2E3147;
        }
    }
    .footersociallist {
        float: left;
        width: 100%;
        margin-top: 1.4rem;
        a{
            svg {
                fill:#a0a6bc;
                transition: all 0.5s ease;
                &:hover{
                    fill: #3643DC;
                    transition: all 0.5s ease;
                }
            }
        }
    }
    .footermenulist{
        float: left;
        width: 100%;
        padding-left: 4rem;
        h2{
            font-size: 16px;
            font-weight: 500;
            color: #3E3E3E;
        }
        ul{
            float: left;
            width: 100%;
            padding: 0px;
            margin: 0px;
            list-style: none;
            li{
                a{
                    font-size: 14px;
                    font-weight: 400;
                    color: #727991;  
                    margin-top: 0.7rem;
                }
            }   
        }
        
    }
    .footercopyright-mask{
        float: left;
        width: 100%;
        border-top: 1px solid #E5E7EB;
        margin-top: 5rem;
        .copyrightext{
            float: left;
            width: 100%;
            text-align: center;
            font-size: 12px;
            font-weight: normal;
            color: #727991;
            padding: 1.1rem 0;
        }
    }
}